In [4]:
import pandas as pd
import numpy as np
import random

In [6]:
pd.date_range( start = '2023-01-01' , end = '2023-01-20' , freq = 'D' )

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20'],
              dtype='datetime64[ns]', freq='D')

## Creacion de un diccionarios

In [9]:
diccionario = {}

In [11]:
diccionario = {
    "nombre": "uayeb"
    , "apellido": "caballero"
    , "edad": 35
    , "edad": 44
    , "materias_cursadas": [
        {
            "id": 1
            , "name": 'Teoria'
            , "HI": 7
            , "HF": 10
        },{
            "id": 2
            , "name": 'Expertos'
            , "HI": 7
            , "HF": 10
        }
    ],
    "depto": {
        "id": 23
         , "name": "IS"
    }
}

In [13]:
diccionario

{'nombre': 'uayeb',
 'apellido': 'caballero',
 'edad': 44,
 'materias_cursadas': [{'id': 1, 'name': 'Teoria', 'HI': 7, 'HF': 10},
  {'id': 2, 'name': 'Expertos', 'HI': 7, 'HF': 10}],
 'depto': {'id': 23, 'name': 'IS'}}

In [15]:
diccionario['genero'] = 'M'

In [17]:
diccionario["materias_cursadas"][0]["name"]

'Teoria'

In [19]:
diccionario['depto']['name']

'IS'

## Diccionario metadata de configuraciones

In [22]:
def get_random_categories( items , n  ):
    return random.choices(items, k=n)


def get_random_numbers( min , max, n ):
    values = []
    for i in range(n):
        values.append(
            random.randint(min, max)
        )
    return values

def get_random_dates( min , max , n ):
    items = pd.date_range( start = min , end = max , freq = 'D' )
    return get_random_categories( items , n )

In [24]:
'C' in ['A','B']

False

In [26]:
def get_dataframe( sett , num_records ):
    metadata_df = {}

    types = [ 'categorico' , 'numerico' , 'date' ]
    
    for k in sett.keys():
        if sett[k]["tipo"] in types:
            if sett[k]['tipo'] == "categorico":
                values = get_random_categories( sett[k]['conf'] , num_records  )

            if sett[k]['tipo'] == "numerico":
                values = get_random_numbers( 
                    sett[k]['conf']['min'] 
                    , sett[k]['conf']['max']
                    , num_records 
                )
        
            if sett[k]['tipo'] == "date":
                values = get_random_dates( 
                    sett[k]['conf'][0]            
                    , sett[k]['conf'][1] 
                    , num_records 
                )
                
            
            metadata_df[k] = values
            
    return pd.DataFrame( metadata_df )

In [28]:
settings = {
    "depto": {
        "tipo": "categorico"
        , "conf": ["IS","II","IQ","MK"]
    }
    , "numero_empleados_inv": {
        "tipo": "numericos"
        , "conf": {
            "min": 5
            , "max": 20
        }
    }
    , "fecha": {
        "tipo": "date"
        , "conf": ['2023-01-01', '2024-05-01']
    }
    , "ingresos": {
        "tipo": "numerico"
        , "conf": {
            "min": 1000
            , "max": 10000
        }
    }

    , "Y": {
        "tipo": "categorico"
        , "conf": [3,4,5,5,6]
    }
}

In [30]:
df = get_dataframe( settings , 1000 )

In [32]:
df.to_csv( 'sample.csv' , index=False )

In [34]:
df.dtypes

depto               object
fecha       datetime64[ns]
ingresos             int64
Y                    int64
dtype: object

In [36]:
df

    depto      fecha  ingresos  Y
0      MK 2023-03-16      7440  5
1      IS 2023-08-15      1198  6
2      IQ 2024-02-16      3486  5
3      IS 2024-04-27      4261  4
4      MK 2023-08-01      7246  6
..    ...        ...       ... ..
995    II 2024-03-26      7924  3
996    II 2023-07-13      3214  5
997    IQ 2023-03-27      4341  5
998    IS 2023-11-22      8015  6
999    MK 2024-04-09      6325  3

[1000 rows x 4 columns]